<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>
    <link rel="icon" href="/assets/image/favicon.ico" rel="stylesheet">

    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="@routes.Assets.at("blog/css/clean-blog.min.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand greet" href="/blog/index">Clean Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/blog/index">Home</a>
                </li>
                <li>
                    <a href="/blog/about">About</a>
                </li>
                <li>
                    <a href="/blog/post">Sample Post</a>
                </li>
                <li>
                    <a href="/blog/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<header class="intro-header" style="background-image: url('@routes.Assets.at("blog/img/home-bg.jpg")')">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
                <h1>Clean Blog</h1>
                <hr class="small">
                <!--<span class="subheading">A Clean Blog Theme by Start Bootstrap</span>-->
            </div>
        </div>
    </div>
</div>
</header>

<!-- Main Content -->
<div class="container">
    <div>
        <textarea class="field input-block-level form-control input-lg" style="min-width: 100%" id="area-blog" rows="25" placeholder="let article less then 5000 words please."></textarea>
    </div>

    <div>
        <button class="btn btn-primary" id="btn-create-blog" style="margin: 20px 0%;">Upload</button>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; ScalaChan 2016</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/assets/lib/jquery-2.2.3.min.js"></script>

<script src="/assets/blog/js/bootstrap.min.js"></script>
<!--<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--<script src="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>-->

<!-- Custom Theme JavaScript -->
<!--<script src="js/clean-blog.min.js"></script>-->
<script src="@routes.Assets.at("blog/js/clean-blog.min.js")"></script>
<script>
    $(function() {
        $('#btn-create-blog').click(function(){
            $(this).prop('disabled', true);
            createBlogAjax($('#area-blog').val());
        });
        function createBlogAjax(content){
            $.post(
                '/blog/post/create.jStr',
                {
                    blog: content
                },
                function(data, status) {
                    var json = jQuery.parseJSON(data)
                    if(json.result == 200) {
                        alert('success');
                    } else {
                        alert('fail - ' + json.error);
                    }
                }
            );
        }
    });
</script>

</body>

</html>
