
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="@routes.Assets.at("image/favicon.ico")" rel="stylesheet">

        <!--<link rel="icon" href="image/favicon.ico">-->

        <title>Signin Template for Bootstrap</title>

        <!-- Bootstrap CSS -->
        <!--<link rel="stylesheet" href="@routes.Assets.at("bootstrap-v4.0.0-alpha/bootstrap.min.css")">-->
        <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("login/signin.css")" rel="stylesheet">
        <link href="/assets/login/css/login.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">

            <!--<form class="form-signin" action="" method="post">-->
                <!--<h2 class="form-signin-heading">Please sign in</h2>-->
                <!--<label for="inputEmail" class="sr-only">Email address</label>-->
                <!--<input type="" id="inputEmail" name="account" class="form-control" placeholder="Username/Email" required="" autofocus="">-->
                <!--<label for="inputPassword" class="sr-only">Password</label>-->
                <!--<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" value="remember-me"> Remember me-->
                    <!--</label>-->
                <!--</div>-->
                <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
                <!--&lt;!&ndash;<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />&ndash;&gt;-->
            <!--</form>-->

            <div class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="" id="inputEmail" name="account" class="form-control" placeholder="Username/Email" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
                <p class="tip indent" id="signin-tip"></p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me - todo
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block ajax-btn-verify" type="submit">Sign in</button>
                <!--<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />-->
            </div>
        </div> <!-- /container -->
    </body>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="/assets/lib/jquery-2.2.3.min.js"></script>
    <script src=""@routes.Assets.at("bootstrap-v4.0.0-alpha/bootstrap.min.js")"></script>
    <!--<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

    <script src="/assets/login/js/login.js"></script>

</html>
